@import 'nib'
@import './font-awesome.css'

*
  box-sizing border-box

body
  font-size 14px
  font-weight 300
  font-family Avenir, 'Open Sans', Helvetica, sans-serif
  color rgb(30,30,30)
  background-color #fff
    
p
  margin 0

a
  text-decoration none
  outline 0
  color rgba(0,0,0,.4)
  transition all .2s
  cursor pointer
  &, &:active, &:focus
    outline none
  &:hover
    color #FD7024

ul
  padding 0
  margin 0
  list-style-type none

.left
  fixed top 45% left 200px
  transform translateY(-50%)
  width 210px
  @media screen and (max-width: 1000px)
    position relative
    left 50%
    top 30px
    transform translateX(-50%)
  #headshot
    position relative
    overflow hidden
    height 200px
    img
      size 200px
    &:hover
      #headshot-overlay
        bottom 0
    #headshot-overlay
      position absolute
      bottom -60px
      left 0
      width 200px
      height 60px
      text-align center
      line-height 60px
      background-color rgba(0,0,0,.7)
      transition bottom .3s ease
      font-size 10px
      letter-spacing .6px
      text-transform uppercase
      span
        margin 0 6px
      a
        color #fff
        transition all .2s
        &:hover
          color #FD7024
  h1
    font-family 'Josefin Sans'
    text-transform uppercase
    margin 35px 0
    margin-left -2px
    font-size 28px
    font-weight 300
    letter-spacing .8px
  ul#navi
    text-transform uppercase
    font-size 10px
    li
      display inline-block
      width 28%
      text-align left
      letter-spacing 1px
      color rgb(200, 200, 200)
      &:nth-child(2)
        padding-left 7px
      a:hover
        color rgb(30,30,30)
  #external-links
    margin-top 70px
  #btn-stech
    display inline-block
    background-color #FD7024
    height 33px
    width auto
    padding 0 12px
    line-height 33px
    color #fff
    text-transform uppercase
    font-size 7px
    font-weight 400
    text-align center
    letter-spacing .8px
    transition all .2s
    &:hover
      background-color rgb(30, 30, 30)
  .external-link
    display inline-block
    line-height 33px
    font-size 13px
    padding-left 18px
    color rgb(60,60,60)
    transition all .2s
    &:hover
      color #FD7024

.card
  min-height 100vh
  position absolute
  top 0
  left 550px
  right 0
  min-width 600px
  @media screen and (max-width: 1000px)
    top 80vh
    left 0
    min-width 100vw
    padding 0 30px

.line
  height 1px
  width 100%
  border 1px solid rgba(0,0,0,.25)

.navi-active
  color rgb(30,30,30)

#home
  @media screen and (min-width: 1000px)
    padding-right 250px
  p
    margin-bottom 18px
    text-align justify
  .line
    margin-top 50px
  #news
    #news-title
      overflow hidden
      margin 40px 0
      text-transform uppercase
      letter-spacing 1px
      h2
        float left
        font-size 15px
        margin 0
      #news-more
        font-size 10px
        float right
        line-height 20px
    ul
      font-size 12px
      color rgb(100, 100, 100)
      text-align justify
      li
        margin-bottom 15px
        p
          display inline
        .news-date
          display inline-block
          width 85px
          letter-spacing .6px
          font-weight 500
          text-transform uppercase
          color rgb(30, 30, 30)
        .separator
          margin-right 10px

#about, #publications
  display none

#about
  @media screen and (min-width: 1000px)
    padding-right 250px
  p
    margin-bottom 22px
    text-align justify

#publications
  @media screen and (min-width: 1000px)
    padding-right 100px
    padding-bottom 50px
  h2
    font-size 14px
    margin 35px 0
    font-weight 300
    &:nth-child(2)
      margin-top 0
  li
    font-size 12px
    overflow hidden
    margin-bottom 20px
  #disclaimer
    background-color rgba(255,255,255,.7)
    font-size 10px
    margin-top -50px
    margin-bottom 35px
    span.fa
      color #ffc156
      margin-right 7px
  #p-icon
    float left
    font-size 25px
    margin-right 40px
  #p-info
    width calc(100% - 70px)
    float left
    .separator
      margin 0 6px
  #p-award
    font-weight 500
    span.fa
      color #FD7024
      margin-right 7px
